<div class='span6'>
  <h1>Cat #{{ id }}</h1>

  <p>
    {{#if isEditing}}
      {{ view Ember.TextField valueBinding='breed' }}
    {{else}}
      Viewing cat: {{ breed }}
    {{/if}}
  </p>

  <p>
    <img {{ bindAttr src="imageUrl"}}>
  </p>

  <button {{ action toggleEdit }}>
    {{#if isEditing}}
      Done
    {{else}}
      Edit Cat # {{ id }}
    {{/if}}
  </button>
</div>
