<div class='span6'>
  <h2>{{ breed }}</h2>

  <p>
    <img {{ bindAttr src="imageUrl"}}>
  </p>

  <p>
    {{#if isEditing}}
      {{ view Ember.TextField valueBinding='breed' }}
    {{/if}}
  </p>

  <button class='btn btn-small' {{ action toggleEdit }}>
    {{#if isEditing}}
      Save
    {{else}}
      Edit {{ name }}
    {{/if}}
  </button>
</div>
